# Images for training

DeepFashion/

# Weights

code/keras/*.h5

# Excel documents

*.xlsx

# Word documents

*.docx

# Big data file

*.txt

# Face coordinates files

face-coordinates/

# cropped Images

crops/